* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
main {
  margin-top: 2px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
input{
  padding: 5px;
  width: 700px;
  border: 2px solid black;
  border-radius: 20px;
}
.weather-card{
  padding: 5px;
  border: 2px solid black;
  border-radius: 20px;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 200px;
  background-color: #DFF2D8;
}
.city-weathericon{
  font-family: cursive;
  font-size: large;
  margin-top: 40px;
  display: flex;
}
span{
  font-size: xx-large;
  margin-left: 100px;
}
.temp-cond{
  font-family: cursive;
  font-size: medium;
  margin-top: 50px;
}
.weather-detail{
  font-family: cursive;
  font-size: medium;
  margin-top: 50px;
}